::selection {
    background-color: white;
    color: black;
}

@font-face {
    font-family: 'helvetipixel';
    src: url('assets/helvetipixel.ttf') format("truetype");
}

* {
    border: 0px;
    color: white;
    font-family: helvetipixel;
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-size: 24px;
}

ul {
    list-style: none;
}

a {
    font-size: 24px;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
}

.content {
    max-width: 800px;
    margin: auto;
}

.menu {
    background-color: black;
    overflow: hidden;
    padding: 40px 0px 40px 0px;
    position: fixed;
    width: 100%;
}

.title {
    font-size: 64px;
}

.topic {
    padding: 20% 0% 20% 0%;
}