::selection {
    background-color: white;
    color: black;
}

@font-face {
    font-family: 'notosansmono';
    src: url('assets/notosansmono.ttf') format("truetype");
}

* {
    border: 0px;
    color: white;
    font-family: notosansmono;
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-size: 24px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
}

.content {
    margin: auto;
    max-width: 800px;
}

.menu {
    background-color: black;
    padding: 40px 0px 40px 0px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.title {
    color: #444;
    font-size: 240px;
    position: absolute;
    z-index: -1;
}

.topic {
    padding: 20% 0% 40% 0%;
}